node_red_data/flows.json
[
    {
        "id": "ad7a87c580e06bc4",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "94fa79fc5652e520",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "11bfcfcf54c26bd5",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "da9e3a4c3b17b1c7",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bed3a9855a294b17",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dd5fa83051d3f56e",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c5b5fa7291d61b26",
        "type": "tab",
        "label": "Flow 6",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3f95c6440d61a454",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt-2.omnivoltaic.com",
        "port": "1883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "e9086dc1091e48c8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt-open",
        "port": "8883",
        "tls": "482a295faf261183",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "b81ce4fbbc57d7d7",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt",
        "port": "8883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "53260183398d77fb",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt-open",
        "port": "8884",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "3e2b152025c21ebe",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt-2.omnivoltaic.com",
        "port": "8883",
        "tls": "482a295faf261183",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8697fa84da0a5aae",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt-open",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "8eef6a6eec90d536",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt-protected",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": false,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "482a295faf261183",
        "type": "tls-config",
        "name": "mqtt-protected",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "client.crt",
        "keyname": "client.key",
        "caname": "ca.crt",
        "servername": "mqtt-2.omnivoltaic.com",
        "verifyservercert": true,
        "alpnprotocol": "8883"
    },
    {
        "id": "e3107d5c366e12e5",
        "type": "tls-config",
        "name": "test",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "client.crt",
        "keyname": "client.key",
        "caname": "ca.crt",
        "servername": "mqtt-2.omnivoltaic.com",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "274e238bc34417b4",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt-2.omnivoltaic.com",
        "port": "1884",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "dae984868714a39c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt-2.omnivoltaic.com",
        "port": "1885",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "94a10117d3d3e873",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt-2.omnivoltaic.com",
        "port": "1886",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "27c8e99e24fafaca",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt-2.omnivoltaic.com",
        "port": "1887",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "befde9ecc184e07e",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt-2.omnivoltaic.com",
        "port": "1888",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "7413bcf3ba9c3ae6",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ec9b42848a9443dc",
        "type": "mqtt out",
        "z": "94fa79fc5652e520",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "94a10117d3d3e873",
        "x": 610,
        "y": 140,
        "wires": []
    },
    {
        "id": "00b1b43ffbf9f421",
        "type": "inject",
        "z": "94fa79fc5652e520",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "v": "$join(['dt/V01/GPRSV2/', '48AH2104000029'])",
                "vt": "jsonata"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\t   \"att\":{\t       \"opid\":\"48AH2104000029\",\t       \"ppid\":\"48AH2104000029<<<<<<\",\t       \"flid\":\"\",\t       \"frmv\":\"3.2.1\"\t   },\t   \"cmd\":{\t       \"pubk\":\"*005 750 029 243 788 309 144#\",\t       \"gstw\":5,\t       \"gctw\":2,\t       \"napn\":\"internet.gma.iot\",\t       \"swch\":0,\t       \"read\":0,\t       \"rptm\":0,\t       \"hbfq\":1\t   },\t   \"sts\":{\t       \"sstc\":0,\t       \"crtm\":\"\",\t       \"udtm\":\"\",\t       \"time\":\"\",\t       \"plat\":\"22.684292\",\t       \"plon\":\"114.234264\",\t       \"gpss\":11,\t       \"gpfc\":21,\t       \"rcrd\":0,\t       \"trhd\":121,\t       \"tpgd\":121,\t       \"pgst\":0,\t       \"ocst\":0\t   },\t   \"dta\":{\t       \"batp\":0,\t       \"inpp\":42172,\t       \"outp\":0,\t       \"aeng\":28770,\t       \"pckv\":22800,\t       \"pckc\":0,\t       \"rsoc\":90,\t       \"rcap\":43200,\t       \"fccp\":48000,\t       \"pckt\":25,\t       \"acyc\":0\t   },\t   \"dia\":{\t       \"cv01\":3257,\t       \"cv02\":3257,\t       \"cv03\":3257,\t       \"cv04\":3257,\t       \"cv05\":3257,\t       \"cv06\":3257,\t       \"cv07\":3257\t   }\t}",
        "payloadType": "jsonata",
        "x": 250,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "a3860aeb656348a4",
        "type": "inject",
        "z": "dd5fa83051d3f56e",
        "name": "Test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "v": "$join(['dt/V01/GPRSV2/', '48AH2104000029'])",
                "vt": "jsonata"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\t   \"att\":{\t      \"opid\":\"48AH2104000029\",\t      \"ppid\":\"48AH2104000029<<<<<<\",\t      \"flid\":\"\",\t      \"frmv\":\"3.2.1\"\t   },\t   \"cmd\":{\t      \"pubk\":\"*005 750 029 243 788 309 144#\",\t      \"gstw\":5,\t      \"gctw\":2,\t      \"napn\":\"internet.gma.iot\",\t      \"swch\":0,\t      \"read\":0,\t      \"rptm\":0,\t      \"hbfq\":1\t   },\t   \"sts\":{\t      \"sstc\":0,\t      \"crtm\":\"\",\t      \"udtm\":\"\",\t      \"time\":\"\",\t      \"plat\":22.684292,\t      \"plon\":114.234264,\t      \"gpss\":11,\t      \"gpfc\":21,\t      \"rcrd\":0,\t      \"trhd\":121,\t      \"tpgd\":121,\t      \"pgst\":0,\t      \"ocst\":0\t   },\t   \"dta\":{\t      \"batp\":0,\t      \"inpp\":42172,\t      \"outp\":0,\t      \"aeng\":28770,\t      \"pckv\":22800,\t      \"pckc\":0,\t      \"rsoc\":90,\t      \"rcap\":43200,\t      \"fccp\":48000,\t      \"pckt\":25,\t      \"acyc\":0\t   },\t   \"dia\":{\t      \"cv01\":3257,\t      \"cv02\":3257,\t      \"cv03\":3257,\t      \"cv04\":3257,\t      \"cv05\":3257,\t      \"cv06\":3257,\t      \"cv07\":3257\t   }\t}",
        "payloadType": "jsonata",
        "x": 230,
        "y": 200,
        "wires": [
            [
                "51ad5ad2b58f45b5"
            ]
        ]
    },
    {
        "id": "51ad5ad2b58f45b5",
        "type": "mqtt out",
        "z": "dd5fa83051d3f56e",
        "name": "TestClientBroker1",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "94a10117d3d3e873",
        "x": 730,
        "y": 200,
        "wires": []
    },
    {
        "id": "eaa7b31e8f643dd8",
        "type": "mqtt in",
        "z": "dd5fa83051d3f56e",
        "name": "",
        "topic": "#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "dae984868714a39c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 260,
        "wires": [
            [
                "35510728f07fb74d"
            ]
        ]
    },
    {
        "id": "35510728f07fb74d",
        "type": "debug",
        "z": "dd5fa83051d3f56e",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 280,
        "wires": []
    }
]